/* Media */

/* Prestyled elements*/
h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  padding-left: 1.2rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  background: var(--input-bg);
  color: var(--foreground);
  border: 1px solid var(--input-border);
  padding: 0.5em;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--input-border);
  padding: 0.5em 1em;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--input-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--input-border);
}


/* Block elements */
.content {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.search-query-input {
  flex: 1;
  resize: vertical;
  background: var(--input-bg);
  padding: 0.5em;
  resize: vertical;
  color: var(--foreground);
  min-width: 20rem;
}

.history-line-content {
  flex: 1;
  cursor: pointer;
  display: flex;
  padding: 0 0 0 1rem;
  align-items: center;
  user-select: none;
  justify-content: space-between;

  &:hover {
    background: var(--button-bg);
  }

  .delete-btn {
    color: var(--foreground);
    opacity: 0.2;
    transition: opacity 0.3s;

    &:hover {
      color: var(--alert);
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}

.history {
  overflow: auto;
}


/* Utilities */
.pb-05 {
  padding-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.gap-1 {
  gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.hide-overflow {
  overflow: hidden;
}

.h-100 {
  height: 100%;
}

.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comment {
  color: var(--comment);
  font-size: 0.9rem;
  line-height: 1.4;
  font-family: monospace;
}
